html,
body {
    height: 100%;
    width: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -50px;
    //padding-top: 20px;
}

#push,
#footer {
    height: 50px;
}
#footer {
    /*
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    */
    padding-top: 10px;
    margin-bottom: 0;
}

th, td {
    vertical-align: middle !important;
}

.top-shift {
    padding-top: 30px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

body {
    background-color: #cfcfcf;//#fefefe;
}

#wrapper {
    width: 100%;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    /* min-height: 50px; */
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 15%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.huge {
    font-size: 40px;
}

.semi-huge {
    font-size: 30px;
}

.semi-semi-huge {
    font-size: 15px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    //color: #5cb85c;
    color: #fff;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #ff33ff;
}

.panel-red .panel-heading {
    border-color: #ff00ff;
    color: #fff;
    background-color: #ff66ff;
}

.panel-red a {
    //color: #d9534f;
    color: #ff33ff;
}

.panel-red a:hover {
    //color: #b52b27;
    color: #cc00ff;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    //color: #f0ad4e;
    outline: 0 none;
}

.panel-yellow a:hover {
    //color: #df8a13;
}

/* fix for scroll autocomplete results */
.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-tabs > li > a {
    outline: 0 none;
}

.panel-heading {
    font-weight: bold;
}

.message-header {
    font-size: 15px;
}

blockquote {
    border-left: 5px solid #ffcc33;
}

textarea {
    resize: none;
}

.modal-dialog-center {
    margin-top: 15%;
}

.equip {
    padding: 5px 0 0 0;
    //width: 100%;
}

select::-ms-expand {
    width:12px;
    border:none;
    background:#fff;
}

.badge-success {
    background-color: #468847;
}

select.form-control {
    //height: 34px;
    padding: 5px 4px;
}

.table {
    margin-bottom: 0;
}

.pos-row {
    background-color: #428bca;
}

.nav-tabs > li {
    min-width: 100px;
}

.mctrl{
    text-align: right;
    margin-top: -6px;
    position: relative;
}

div.controls {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.status {
    position: absolute;
    margin-bottom: 3px;
    bottom: 10px;
    right: 10px;
    display: none;
}

table.table tbody tr td div.controls {
    display: none;
}

table.table tbody tr:hover td div.controls {
    display: inline-block;
}

.btn:focus {
    outline: none;
}

div.action-group .btn {
    line-height: 1;
}

textarea.message-content {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 80px;
}

.message-content {
    width: 100%;
    height: 100%;
}

.special {
    background-color: #d9edf7;
}

.ui-datepicker {
    z-index: 1050 !important;
}

.mtime .form-control, .form-control.mtime {
    text-align: center;
    /*padding: 2px 1px;*/
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
}

.has-error.form-control {
    
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error.form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.ui-widget-header {
    background: none;
    background-color: #ccc;
}

textarea.form-control {
    min-height: 80px;
}

.equip-content {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

textarea.equip-content, div.equip-content {
    padding-left: 10px;
    min-height: 350px;
}

.btn-group-justified a.btn {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overfollow: elliplis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-group > .btn-success, .btn-group > .btn-primary {
    //color: #0022ff;
    font-weight: bold;
    opacity: 0.9;
}

.nopad, .nopad > .form-control {
    margin: 1px 0;
    cursor: default;
    /*padding: 0;*/
}

.bg-warning {
  background-color: #fcf8e3 !important;
}

.pagination {
    margin: 0;
}

td.empty {
    border-top: none !important;
}

table.comp > tbody > tr > td {
    vertical-align: top !important;
}

.text-bold {
    font-weight: bold;
}

/* PANEL MIN SIZES */
.panel-message {
    min-height: 400px;
    max-height: 400px;
    //height: 100%;
    overflow-y: auto;
}

.panel-message-view {
    min-height: 500px;
    max-height: 500px;
    //height: 100%;
    overflow-y: auto;
}

.panel-archive {
    min-height: 470px;
    max-height: 470px;
    overflow-y: auto;
}

.panel-signature {
    min-height: 400px;
    //max-height: 600px;
    //height: 100%;
    //overflow-y: auto;
}

#overlay {
    filter: alpha(opacity=80);
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
}

#oinfo {
    position: absolute;
    top: 10%;
    left: 5%;
    font-weight: bold;
    font-style: oblique;
    z-index: 2010;
    color: white;
    font-size: 40px;
    display: none;
}

.ui-timepicker-select {
    font-weight: bold;
    width: 80px;
}

div.growlUI h1, div.growlUI h2 {
    color: white; 
    padding: 5px 15px 5px 15px; 
    //text-align: right;
    font-size: 16px;
}

.usertable {
    min-height: 480px;
    max-height: 480px;
    overflow-y: auto;
}

#row-error {
    padding-top: 20px;
}

a.must {
    border: solid 2px darkorchid; !important;
}

.control-label {
    font-weight: bold;
    padding-top: 7px;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.input-xs,
.form-group-xs .form-control {
    height: 25px;
    padding: 2px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}

.compact, .compact > [class*="col-"] {
    padding: 7px;
}

.table.compact > tbody > tr > td {

    padding: 2px; !important;
}

.row.compact > [class*="col-"] {
    padding: 0 1px;
}

.wrap-button {

    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overfollow: elliplis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 1400px) {

    .container {
        width: 1380px;
    }
}

.dropdown-menu {
    background-color: snow;
    border: 1px solid rgba(0, 45, 105, 0.40);
}

a.btn-default {
    background: none;
}